.card {
    color: var(--bgc);
    background: linear-gradient(110deg, var(--gradientbase), var(--gradientaccent), var(--gradientbase));
    max-width: 100vw;
    display: block;
    padding: 20px;
    border: 5px solid var(--bc);
    border-radius: 10px;
    transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
    text-decoration: none !important;
    width: 28%;
    cursor: pointer;
    text-align: center;
}

.card h1 {
    font-size: 2.5em;
    margin-top: 0;
    margin-bottom: 0;
}

:host-context(body.orange) .card {
    background-color: #ff8446;
    opacity: 1;
    background-image: linear-gradient(45deg, #ed7337 50%, #ff8446 50%);
    background-size: 29px 29px;
}

:host-context(body.outlines) .card {
    outline: 3px solid var(--olc);
}

.card:hover {
    box-shadow: 0px 0px 30px var(--bsc);
    transform: translateY(-5px);
}

.card-entries {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
}

.hic {
    margin: 15px;
    border-color: var(--bgc);
    box-shadow: none;
}

.card h2 {
    margin-bottom: 5px;
    font-size: 1.5em;
}