.overlay-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type="text"],
input[type="password"] {
  width: 95%;
}

#style-overlay,
#error-overlay,
#success-overlay,
#info-overlay,
#passwordReset-overlay,
#quickAction-overlay,
#feedback-overlay {
  padding: 40px 50px;
  border-radius: 10px;
  width: 40%;
  z-index: 10000;
  box-shadow: 0px 0px 30px var(--bsc);
  background: var(--bgc);
  color: var(--tc);
  overflow: auto;
}

.page-header {
  margin-bottom: -30px;
}

hr {
  margin-bottom: 10px;
}

h1 {
  padding-bottom: 20px;
}

:host-context(body.outlines) #style-overlay,
:host-context(body.outlines) #error-overlay,
:host-context(body.outlines) #success-overlay,
:host-context(body.outlines) #info-overlay,
:host-context(body.outlines) #passwordReset-overlay,
:host-context(body.outlines) #quickAction-overlay,
:host-context(body.outlines) #feedback-overlay {
  outline: 3px solid var(--olc);
}

#theme-selection,
#outline-selection,
#color-selection {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

#theme-selection h1,
#outline-selection h1,
#color-selection h1 {
  font-size: 1.8em;
  margin-bottom: 10px;
}

#theme-selection .options,
#outline-selection .options,
#color-selection .options {
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex-wrap: wrap;
}

#quickAction-overlay h1 {
  margin-bottom: 0;
}

#quickAction-overlay {
  margin-top: -500px;
}