.overlay-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type="text"],
input[type="password"] {
  width: 95%;
}

.overlay {
  padding: 40px 50px;
  border-radius: 10px;
  width: min(800px, 92vw);
  max-height: 92vh;
  z-index: 10000;
  box-shadow: 0 0 30px var(--bsc);
  background: var(--bgc);
  color: var(--tc);
  overflow: auto;
  box-sizing: border-box;
}

#planShortcuts-overlay {
  width: min(1250px, 92vw);
}

:host-context(body.glass) .overlay {
  background: var(--gbgc);
  border-radius: 10px;
  box-shadow: 0px 0px 30px var(--bsc);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid var(--gbgb);
  padding: 40px 50px;
  border-radius: 10px;
  width: min(800px, 92vw);
  max-height: 92vh;
  z-index: 1000;
  overflow: auto;
  box-sizing: border-box;
}

.page-header {
  margin-bottom: -30px;
}

hr {
  margin-bottom: 0;
  margin-top: 0;
}

h1 {
  padding-bottom: 20px;
}

:host-context(body.outlines) .overlay {
  outline: 3px solid var(--olc);
}

.selection {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.selection h1 {
  font-size: 1.8em;
  margin-bottom: 0px;
}

.selection .options {
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex-wrap: wrap;
}

select {
  margin-top: 30px;
  width: 90%;
  text-align: center;
}

textarea {
  margin-top: 0;
  margin-bottom: 30px;
  width: 90%;
  height: 250px;
}

#confirm-overlay a,
#feedback-overlay a {
  margin-right: 20px;
}

.pw-hints h1 {
  margin-bottom: -40px;
}

.pw-hints {
  margin-bottom: 50px;
}

.ok {
  color: var(--green);
}

.bad {
  color: var(--red);
}

#remaining {
  margin-top: -5px;
  margin-bottom: 15px;
  font-size: 1.4em;
}

#feedback-overlay select,
#feedback-overlay textarea {
  width: 100%;
  display: block;
  box-sizing: border-box;
}

#feedback-overlay select {
  margin-top: 30px;
  height: 60px;
  text-align-last: center;
}

#feedback-overlay textarea {
  margin-top: 10px;
  margin-bottom: 14px;
  height: 400px;
}

.button-row {
  display: flex;
  gap: 20px;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  box-sizing: border-box;
}

select,
textarea {
  width: 100%;
  box-sizing: border-box;
}

#planNoteEdit-overlay textarea {
  margin: 30px 0 30px 0;
}

table {
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 40px;
}

th,
td {
  padding: 5px;
  border-radius: 5px;
}

:host-context(body.light) th {
  background-color: #e9e9e9;
  border: 3px solid #e9e9e9;
}

:host-context(body.light) td {
  background-color: #f3f3f3;
  border: 3px solid #f3f3f3;
}

:host-context(body.dim) th {
    background-color: #2a2a2a;
    border: 3px solid #2a2a2a;
}

:host-context(body.dim) td {
    background-color: #242424;
    border: 3px solid #242424;
}

:host-context(body.neon) th {
    background-color: #100044;
    border: 3px solid #100044;
}

:host-context(body.neon) td {
    background-color: #0d0038;
    border: 3px solid #0d0038;
}