@if (overlayState.show) {
<div class="overlay-backdrop">
  @if (overlayState.type === "style") {
  <div id="style-overlay">
    <h1 class="emp page-header">Ansicht</h1>
    <div id="theme-selection">
      <h1>Anzeigemodus:</h1>
      <div class="options">
        <label>
          <input type="radio" name="theme" value="light" [checked]="selectedTheme === 'light'"
            (change)="changeTheme('light')">
          Hell
        </label>
        <label>
          <input type="radio" name="theme" value="dim" [checked]="selectedTheme === 'dim'"
            (change)="changeTheme('dim')">
          Dim
        </label>
        <label>
          <input type="radio" name="theme" value="dark" [checked]="selectedTheme === 'dark'"
            (change)="changeTheme('dark')">
          Dunkel
        </label>
      </div>
    </div>
    <hr>
    <div id="outline-selection">
      <h1>Kontur:</h1>
      <div class="options">
        <label>
          <input type="radio" name="outline" [checked]="selectedOutline === 'outlines'"
            (change)="changeOutline('outlines')">
          An
        </label>
        <label>
          <input type="radio" name="outline" [checked]="selectedOutline === 'no-outlines'"
            (change)="changeOutline('no-outlines')">
          Aus
        </label>
      </div>
    </div>
    <hr>
    <div id="color-selection">
      <h1>Farbauswahl:</h1>
      <div class="options">
        <label>
          <input type="radio" name="color" [checked]="selectedColor === 'standard'" (change)="changeColor('standard')">
          Standard
        </label>
        <label>
          <input type="radio" name="color" [checked]="selectedColor === 'soft'" (change)="changeColor('soft')">
          Soft
        </label>
        <label>
          <input type="radio" name="color" [checked]="selectedColor === 'bw'" (change)="changeColor('bw')">
          Schwarz/Weiß
        </label>
      </div>
    </div>
    <br>
    <a (click)="close()" class="button-primary">Schließen</a>
  </div>
  } @else if (overlayState.type === "error") {
  <div id="error-overlay">
    <h1 class="emp page-header">Fehler</h1>
    <h1>{{ overlayState.message }}</h1>
    <a (click)="close()" class="button-primary">Schließen</a>
  </div>
  } @else if (overlayState.type === "success") {
  <div id="success-overlay">
    <h1 class="emp page-header">Erfolg</h1>
    <h1>{{ overlayState.message }}</h1>
    <a (click)="close()" class="button-primary">Schließen</a>
  </div>
  } @else if (overlayState.type === "info") {
  <div id="info-overlay">
    <h1 class="emp page-header">Info</h1>
    <h1>{{ overlayState.message }}</h1>
    <a (click)="close()" class="button-primary">Schließen</a>
  </div>
  }
</div>
}