#main {
    flex: 1;
    padding: 30px 60px;
}

#pagecontainer {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#header img {
    height: 70px;
    margin-right: 10px;
}

:host-context(body.light) #header img {
    filter: brightness(1) invert(100%);
}

:host-context(body.dim) #header img {
    filter: brightness(1) invert(0%);
}

:host-context(body.dark) #header img {
    filter: brightness(1) invert(0%);
}

:host-context(body.outlines) #header {
    outline: 3px solid var(--olc);
}

#header a {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 3em;
    line-height: 1;
}

#credit:hover {
    text-decoration: none;
}

#edition {
    font-size: 0.5em;
    color: #b5b5b5;
    margin-top: 17px;
}

#header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
    margin: 10px;
    padding: 10px 20px;
    position: sticky;
    top: 10px;
    z-index: 1000;
    background-color: var(--bgc);
    border: 1px solid var(--bc);
    box-shadow: 0px 0px 30px var(--bsc);
}

#nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    font-size: 0.6em;
    gap: 30px;
}

#nav a {
    cursor: pointer;
    text-decoration: none;
    transition: text-decoration 0.3s ease-in-out;
}

#nav a:hover {
    text-decoration: underline;
}

#footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5em;
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
    z-index: 1000;
    background-color: var(--bgc);
    border: 1px solid var(--bc);
    box-shadow: 0px 0px 30px var(--bsc);
}

:host-context(body.outlines) #footer {
    outline: 3px solid var(--olc);
}

#footer-link {
    display: flex;
    gap: 30px;
    margin-bottom: 10px;
}

#footer-link a {
    text-decoration: none;
    transition: text-decoration 0.3s ease-in-out;
}

#footer-link a:hover {
    text-decoration: underline;
}

#footer p {
    margin: 5px;
}

@media (max-width: 1200px) {
    #root-header {
        display: none;
    }

    #nav {
        justify-content: flex-start;
    }
}