.fb-toolbar {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 20px;
}

.fb-list {
    display: grid;
    gap: 15px;
}

.fb-card {
    border-radius: 10px;
    padding: 15px 20px;
    display: grid;
    gap: 10px;
}

.fb-card:nth-child(odd) {
    background: var(--bgca);
}

.fb-card:nth-child(even) {
    background: var(--bgcaa);
}

:host-context(body.outlines) .fb-card {
    outline: 4px solid var(--tc);
}

.fb-meta {
    display: flex;
    flex-wrap: wrap;
    gap: 6px 10px;
    align-items: center;
}

.chip {
    border: 5px solid var(--tc);
    border-radius: 999px;
    padding: 0 20px;
    background: var(--bgc);
    font-size: 0.7em;
}

.fb-content {
    white-space: pre-wrap;
    font-size: 2em;
    line-height: 1.4;
    margin: 0;
}

.fb-actions {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    align-items: center;
    justify-content: flex-start;
}

.fb-status-label {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.fb-status-label select {
    font-size: inherit;
}

.subtitle {
    margin-top: 0px;
}

hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

select {
    text-align: center;
}