.doc-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 16px;
}

.doc-search {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    margin-top: -50px;
}

.doc-search input {
    width: 100%;
    max-width: 650px;
    margin: 0;
}

.tile-grid {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
}

.doc-tile {
    display: block;
    padding: 20px;
    border-radius: 10px;
    background: linear-gradient(110deg, #00D5F4, #00F5D1, #00D5F4);
    font-size: 2em;
    color: var(--bgc);
    max-width: 100vw;
    border: 5px solid var(--bc);
    transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
    text-decoration: none !important;
}

.doc-tile p {
    margin: 10px 0 0px 0;
}

.doc-tile:hover {
    box-shadow: 0px 0px 30px var(--bsc);
    transform: translateY(-5px);
}

.subtitle {
    font-size: 3em;
    margin-bottom: 20px;
}

:host-context(body.soft) .doc-tile {
    background: linear-gradient(110deg, #76edff, #72ffea, #76edff) !important;
}

.doc-tile h2,
.doc-tile h3 {
    margin: 0 0 4px;
}

.search-results h2 {
    margin-top: -20px;
    font-size: 3em;
}

.breadcrumbs {
    margin-top: -20px;
    margin-bottom: 30px;
    font-size: 1.5em;
}

.doc-page {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.doc-article h3 {
    margin-top: 20px;
    font-size: 1.4em;
}

.doc-article {
    font-size: 1.7em;
}

hr {
    margin: 0px 20px;
}

.search-results {
    border-radius: 10px;
    margin: 10px 0 20px;
}

:host-context(body.outlines) .search-results ul {
    outline: 3px solid var(--olc);
}

.search-results ul {
    font-size: 2em;
    border-radius: 10px;
}

.search-results li {
    list-style-position: inside;
    width: 100%;
    font-size: 1.2em;
    padding: 10px;
    margin: 0 -30px;
    border-radius: 10px;
}

.search-results li a {
    word-wrap: normal;
    display: inline-block;
    transition: transform 0.2s ease-in-out;
}

.search-results li:hover a {
    transform: translateX(10px);
}

.search-results li:nth-last-child(odd) {
    background-color: var(--bgca);
}


.hint {
    font-size: 2em;
}

ol li{
    list-style: lower-roman;
}