#result-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
}

.month-card {
    width: 550px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 95px;
    border-radius: 10px;
    font-size: 4em;
    text-decoration: none;
    border: 5px solid var(--bc);
    color: var(--bgc);
    transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.month-card:hover {
    box-shadow: 0px 0px 30px var(--bsc);
    transform: translateY(-5px);
}

:host-context(body.outlines) .month-card {
    outline: 3px solid var(--olc);
}

.gradient-1 {
    background: var(--g1);
}

.gradient-2 {
    background: var(--g2);
}

.gradient-3 {
    background: var(--g3);
}

.gradient-4 {
    background: var(--g4);
}

.gradient-5 {
    background: var(--g5);
}

.gradient-6 {
    background: var(--g6);
}

:host-context(body.orange) .month-card {
    background-color: #ff8446;
    opacity: 1;
    background-image: linear-gradient(45deg, #ed7337 50%, #ff8446 50%);
    background-size: 29px 29px;
}