input {
    width: 400px;
    text-align: center;
}

.button-primary {
    font-size: 2em;
    width: 400px;
    text-align: center;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    padding: 50px;
}

:host-context(body.light) .login-form {
    background-color: var(--bgc);
    border: 1px solid var(--bgc);
    box-shadow: 0px 0px 30px var(--bsc);
}

:host-context(body.dim) .login-form {
    background-color: var(--bgc);
    border: 1px solid var(--bgc);
    box-shadow: 0px 0px 30px var(--bsc);
}

:host-context(body.dark) .login-form {
    background-color: var(--bgc);
    border: 1px solid var(--bgc);
    box-shadow: 0px 0px 30px var(--bsc);
}

:host-context(body.light.outlines) .login-form {
    outline: 3px solid var(--olc);
}

:host-context(body.dim.outlines) .login-form {
    outline: 3px solid var(--olc);
}

:host-context(body.dark.outlines) .login-form {
    outline: 3px solid var(--olc);
}

.login-container {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#colored {
    height: 200px;
    padding-bottom: 40px;
}

#login {
    text-decoration: none;
}