input {
    width: 400px;
    text-align: center;
}

.button-primary {
    font-size: 2em;
    width: 400px;
    text-align: center;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 15px;
    box-shadow: 0px 0px 30px #0000003f;
    padding: 50px;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
}

.error {
    color: #ff1342;
    font-size: 1.4em;
    margin-bottom: 0;
    margin-top: 50px;
}