input {
    width: 400px;
    text-align: center;
}

.button-primary {
    font-size: 2em;
    width: 400px;
    text-align: center;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    padding: 50px;
}

:host-context(body.light) .login-form {
    background-color: #fff;
    border: 1px solid #fff;
    box-shadow: 0px 0px 30px #0000003f;
}

:host-context(body.dim) .login-form {
    background-color: #1e1e1e;
    border: 1px solid #1e1e1e;
    box-shadow: 0px 0px 30px #00000080;
}

:host-context(body.dark) .login-form {
    background-color: #000;
    border: 1px solid #000;
    box-shadow: 0px 0px 30px #ffffff63;
}

:host-context(body.light.outlines) .login-form {
    outline: 3px solid #000;
}

:host-context(body.dim.outlines) .login-form {
    outline: 3px solid #fff;
}

:host-context(body.dark.outlines) .login-form {
    outline: 3px solid #fff;
}

.login-container {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#colored {
    height: 200px;
    padding-bottom: 40px;
}

#login {
    text-decoration: none;
}