input {
    text-align: center;
}

.user-row input {
    margin-right: 20px;
}

.user-row {
    margin-bottom: 20px;
}

.button-row {
    margin-right: 20px;
}

.error {
    margin-top: 30px;
}

.num-entry {
    width: 120px;
}