input {
    text-align: center;
}

.details {
    margin: 8px 0 12px;
}

.hint {
    font-size: 1.5em;
    margin: 6px 0 0 0;
}

:host-context(body.outlines) .dept-list {
    outline: 4px solid var(--tc);
}

.subtitle {
    margin-top: 20px;
}

.form-row {
    display: flex;
    gap: 15px;
}

details summary {
    font-size: 1.5em;
    cursor: pointer;
    margin-bottom: 20px;
}

#optional {
    margin-top: 20px;
}

#new {
    margin-top: -20px;
}

.dept-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.dept-card {
    border-radius: 10px;
    padding: 20px;
}

.dept-card:nth-child(odd) {
    background: var(--bgca);
}

.dept-card:nth-child(even) {
    background: var(--bgcaa);
}

ul {
    font-size: 1.75em;
}

.header {
    margin-top: -30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.search {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.search input {
    width: 100%;
    max-width: 450px;
    margin: 0;
}

.dept-card hr {
    margin: 20px 0;
}

.dept-card h1 {
    margin: 0 0 -10px 0;
    font-size: 3em;
}

#deletesearch {
    margin-left: 20px;
}