input,
select,
button {
    margin: 0;
    vertical-align: middle;
}

input,
select {
    text-align: center;
}

.form-row {
    display: flex;
    gap: 20px;
}


.employee-header-row {
    display: grid;
    grid-template-columns: 1.5fr 0.7fr 1fr 1fr 2fr;
    gap: 10px;
    align-items: center;
    padding: 10px 12px;
    border-radius: 10px;
}
.employee-header-row {
    background: var(--bgca);
}

.plan-employees {
    border-radius: 10px;
}

:host-context(body.outlines) .plan-employees {
    border: 4px solid var(--tc);
}

.employee-entry-row {
    display: grid;
    grid-template-columns: 1.5fr 0.7fr 1fr 1fr 2fr;
    gap: 10px;
    align-items: center;
    padding: 8px 12px;
    border-radius: 10px;
}

.employees-container > .employee-entry-row:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.04);
}

.employees-container > .employee-entry-row:nth-child(even) {
    background: var(--bgca);
}

.employee-entry-row .cell {
    display: flex;
    align-items: center;
    min-height: 40px;
    min-width: 0;
}

.name-cell,
.status-cell {
    justify-content: flex-start;
    font-size: 2em;
}

.days-input {
    width: 100%;
    min-width: 0;
    box-sizing: border-box;
}

.chip {
    padding: 3px 8px;
    border-radius: 12px;
    font-size: 1.5rem;
}

.chip.in {
    background-color: var(--bgc);
    color: var(--green);
    border: 3px solid var(--green);
    border-radius: 999px;
    padding: 4px 10px;
}

.chip.out {
    background-color: var(--bgc);
    color: var(--red);
    border: 3px solid var(--red);
    border-radius: 999px;
    padding: 4px 10px;
}


.action-cell {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.action-cell .button-primary,
.action-cell .button-action {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 110px;
    flex-grow: 1;
}

.hint {
    margin: 15px;
    font-size: 1.5em;
}

.action-cell .button-primary,
.action-cell .button-action {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 110px;
    flex-grow: 1;
}

.add-btn.already-in {
    visibility: hidden;
}