:root {
    --red: #ff1342;
    --bgc: #fff;
    --tc: #000;
    --olc: #000;
    --bsc: #0000003f;
    --bc: #fff;
}

body.light {
    --bgc: #fff;
    --tc: #000;
    --olc: #000;
    --bsc: #0000003f;
    --bc: #fff;
}

body.dim {
    --bgc: #1e1e1e;
    --tc: #fff;
    --olc: #fff;
    --bsc: #00000080;
    --bc: #1e1e1e;
}

body.dark {
    --bgc: #000;
    --tc: #fff;
    --olc: #fff;
    --bsc: #ffffff63;
    --bc: #000;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Outfit", Bahnschrift, Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    white-space: normal;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: normal;
    height: 100%;
    user-select: none;
}

body.light {
    background-color: var(--bgc);
    color: var(--tc);
}

body.dim {
    background-color: var(--bgc);
    color: var(--tc);
}

body.dark {
    background-color: var(--bgc);
    color: var(--tc);
}

a {
    text-decoration: none;
}

body.light a {
    color: var(--tc);
}

body.dim a {
    color: var(--tc);
}

body.dark a {
    color: var(--tc);
}

a:hover {
    cursor: pointer;
    text-decoration: underline;
}

.emp {
    background: linear-gradient(110deg, #00D5F4, #00F5D1, #00D5F4);
    background-size: 200% auto;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradientMove 3s linear infinite;
}

@keyframes gradientMove {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 200% 50%;
    }
}

.page-header {
    font-size: 4em;
    margin: 0;
    padding-bottom: 50px;
}

.button-primary {
    text-decoration: none;
    font-size: 2em;
    cursor: pointer;
    border-radius: 10px;
    padding: 5px 10px;
    box-shadow: 0px 0px 30px #00000000;
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

body.light .button-primary {
    border: 4px solid var(--tc);
    background-color: var(--tc);
    color: var(--bgc);
}

body.dim .button-primary {
    border: 4px solid var(--tc);
    background-color: var(--tc);
    color: var(--bgc);
}

body.dark .button-primary {
    border: 4px solid var(--tc);
    background-color: var(--tc);
    color: var(--bgc);
}

.button-primary:hover {
    text-decoration: none;
}

body.light .button-primary:hover {
    color: var(--tc);
    background-color: var(--bgc);
    box-shadow: 0px 0px 30px var(--bsc);
}

body.dim .button-primary:hover {
    color: var(--tc);
    background-color: var(--bgc);
    box-shadow: var(--bsc);
}

body.dark .button-primary:hover {
    color: var(--tc);
    background-color: var(--bgc);
    box-shadow: 0px 0px 30px var(--bsc);
}

.button-action {
    border: 4px solid var(--red);
    color: var(--red) !important;
    text-decoration: none;
    font-size: 2em;
    cursor: pointer;
    border-radius: 10px;
    padding: 5px 10px;
    box-shadow: 0px 0px 30px #00000000;
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

body.light .button-action {
    background-color: var(--bgc);
}

body.dim .button-action {
    background-color: var(--bgc);
}

body.dark .button-action {
    background-color: var(--bgc);
}

.button-action:hover {
    background-color: var(--red) !important;
    text-decoration: none;
}

body.light .button-action:hover {
    color: var(--bgc) !important;
    box-shadow: 0px 0px 30px var(--bsc);
}

body.dim .button-action:hover {
    color: var(--bgc) !important;
    box-shadow: 0px 0px 30px var(--bsc);
}

body.dark .button-action:hover {
    color: var(--bgc) !important;
    box-shadow: 0px 0px 30px var(--bsc);
}

input {
    font-family: inherit;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 5px 10px;
    font-size: 2em;
    box-shadow: 0px 0px 30px #00000000;
    transition: box-shadow 0.2s ease-in-out;
}

body.light input {
    border: 4px solid var(--tc);
    background-color: var(--bgc);
    color: var(--tc);
}

body.dim input {
    border: 4px solid var(--tc);
    background-color: var(--bgc);
    color: var(--tc)
}

body.dark input {
    border: 4px solid var(--tc);
    background-color: var(--bgc);
    color: var(--tc);
}

input:focus {
    outline: none;
}

body.light input:focus {
    box-shadow: 0px 0px 30px var(--bsc);
}

body.dim input:focus {
    box-shadow: 0px 0px 30px var(--bsc);
}

body.dark input:focus {
    box-shadow: 0px 0px 30px var(--bsc);
}

li {
    list-style-type: square;
}

.text {
    font-size: 1.5em;
}

hr {
    border-radius: 5px;
    margin: 50px 20px;
}

body.light hr {
    border: 2px solid var(--tc);
    box-shadow: 0px 0px 30px var(--bsc);
}

body.dim hr {
    border: 2px solid var(--tc);
    box-shadow: 0px 0px 30px var(--bsc);
}

body.dark hr {
    border: 2px solid var(--tc);
    box-shadow: 0px 0px 30px var(--bsc);
}

label {
    font-size: 2em;
    margin-right: 20px;
}

#page-content {
    margin-top: -30px;
}