:root {
    --red: #ff1342;
    --green: #77ff00;
    --blue: #00D5F4;
    --black: #000000;
    --orange: #ed7337;

    --ucell: #88ff00;
    --hcell: #00aeff;
    --kcell: #ff00bf;
    --lcell: #ffa318;
    --gcell: #864eff;
    --tcell: #00ffaa;

    --gradientbase: #00D5F4;
    --gradientaccent: #00F5D1;

    --g1: linear-gradient(120deg, #00f5d1 0%, #00d5f4 100%);
    --g2: radial-gradient(circle at top left, #00f5d1 0%, #00b3e6 70%, #00d5f4 100%);
    --g3: linear-gradient(200deg, #00c8a0 0%, #00f5d1 50%, #00d5f4 100%);
    --g4: radial-gradient(circle at bottom right, #00e0b0 0%, #00d5f4 60%, #0099cc 100%);
    --g5: linear-gradient(245deg, #00b3cc 0%, #00f5d1 40%, #00d5f4 80%);
    --g6: radial-gradient(circle at center, #00d5f4 0%, #00f5d1 50%, #00a3b3 100%);
}

:root body.soft {
    --red: #ff8282;
    --green: #95ff87;
    --blue: #a4f3ff;

    --ucell: #c6ff84;
    --hcell: #74d3ff;
    --kcell: #ff91e3;
    --lcell: #ffd595;
    --gcell: #b492ff;
    --tcell: #00ffaa;

    --gradientbase: #76edff;
    --gradientaccent: #72ffea;

    --g1: linear-gradient(120deg, #72ffea 0%, #75edff 100%);
    --g2: radial-gradient(circle at top left, #64ffe8 0%, #6cdfff 70%, #75edff 100%);
    --g3: linear-gradient(200deg, #73ffe3 0%, #6effe9 50%, #6bebff 100%);
    --g4: radial-gradient(circle at bottom right, #70ffe0 0%, #70ecff 60%, #6cdaff 100%);
    --g5: linear-gradient(245deg, #68edff 0%, #69ffe8 40%, #6decff 80%);
    --g6: radial-gradient(circle at center, #5be9ff 0%, #6effe9 50%, #72f3ff 100%);

}

:root body.orange {
    --ucell: #81f100;
    --hcell: #21b9ff;
    --kcell: #e900af;
    --lcell: #ed7337;
    --gcell: #661fff;
    --tcell: #00df94;

    --gradientbase: #ed7337;
    --gradientaccent: #ff8446;
}

body.light {
    --bgc: #fff;
    --bgca: #f3f3f3;
    --bgcaa: #e9e9e9;
    --tc: #000000;
    --olc: #000000;
    --bsc: #0000003f;
    --bc: #ffffff;
    --gbgc: #ffffff4b;
    --gbgb: #ffffffb4;
}

body.dim {
    --bgc: #1e1e1e;
    --bgca: #242424;
    --bgcaa: #2a2a2a;
    --tc: #ffffff;
    --olc: #ffffff;
    --bsc: #00000080;
    --bc: #1e1e1e;
    --gbgc: #1e1e1e4b;
    --gbgb: #76767672;
}

body.dark {
    --bgc: #000000;
    --bgca: #1e1e1e;
    --bgcaa: #242424;
    --tc: #ffffff;
    --olc: #ffffff;
    --bsc: #424242;
    --bc: #000000;
    --gbgc: #0000005e;
    --gbgb: #ffffff46;
}

body.neon {
    --bgc: #080022;
    --bgca: #0d0038;
    --bgcaa: #100044;
    --tc: #ffffff;
    --olc: #ffffff;
    --bsc: #3dc2ff30;
    --bc: #0a002b;
    --gbgc: #0800224b;
    --gbgb: #007bb473;
}

*::selection {
    background: var(--blue);
}

.emp,
.hint {
    background: linear-gradient(110deg, var(--gradientbase), var(--gradientaccent), var(--gradientbase));
    background-size: 200% auto;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradientMove 3s linear infinite;
}

@keyframes gradientMove {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 200% 50%;
    }
}

body {
    margin: 0;
    padding: 0;
    font-family: "Outfit", Bahnschrift, Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    white-space: normal;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: normal;
    height: 100%;
    user-select: none;
}

body.light {
    background-color: var(--bgc);
    color: var(--tc);
}

body.dim {
    background-color: var(--bgc);
    color: var(--tc);
}

body.dark {
    background-color: var(--bgc);
    color: var(--tc);
}

body.neon {
    background-color: var(--bgc);
    color: var(--tc);
}

a {
    text-decoration: none;
    color: var(--tc);
}


a:hover {
    cursor: pointer;
    text-decoration: underline;
}

.page-header {
    font-size: 4em;
    margin: 0;
    padding-bottom: 50px;
}

.button-primary {
    text-decoration: none;
    font-size: 2em;
    cursor: pointer;
    border-radius: 10px;
    padding: 5px 10px;
    box-shadow: 0px 0px 30px #00000000;
    border: 4px solid var(--tc);
    background-color: var(--tc);
    color: var(--bgc);
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.button-primary:hover {
    text-decoration: none;
    color: var(--tc);
    background-color: var(--bgc);
    box-shadow: 0px 0px 30px var(--bsc);
}

.button-secondary {
    text-decoration: none;
    font-size: 2em;
    cursor: pointer;
    border-radius: 10px;
    padding: 5px 10px;
    box-shadow: 0px 0px 30px #00000000;
    border: 4px solid var(--tc);
    background-color: var(--bgc);
    color: var(--tc);
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.button-secondary:hover {
    text-decoration: none;
    color: var(--bgc);
    background-color: var(--tc);
    box-shadow: 0px 0px 30px var(--bsc);
}

.button-action {
    border: 4px solid var(--red);
    color: var(--red) !important;
    text-decoration: none;
    font-size: 2em;
    cursor: pointer;
    border-radius: 10px;
    padding: 5px 10px;
    box-shadow: 0px 0px 30px #00000000;
    background-color: var(--bgc);
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.button-action:hover {
    background-color: var(--red) !important;
    text-decoration: none;
    color: var(--bgc) !important;
    box-shadow: 0px 0px 30px var(--bsc);
}

input,
select {
    font-family: inherit;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 5px 10px;
    font-size: 2em;
    box-shadow: 0px 0px 30px #00000000;
    border: 4px solid var(--tc);
    background-color: var(--bgc);
    color: var(--tc);
    transition: box-shadow 0.2s ease-in-out;
}

input:focus,
select:focus {
    outline: none;
    box-shadow: 0px 0px 30px var(--bsc);
}

li {
    list-style-type: square;
}

.text {
    font-size: 1.5em;
}

hr {
    border-radius: 5px;
    margin: 50px 20px;
    border: 3px solid var(--tc);
    box-shadow: 0px 0px 30px var(--bsc);
}

hr.vertical {
    border-radius: 5px;
    margin: 50px 40px;
    border: 3px solid var(--tc);
    box-shadow: 0px 0px 0px var(--bsc);
    height: 100px;
}

#page-content {
    margin-top: -30px;
}

input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 50px;
    height: 30px;
    border-radius: 20px;
    border: 5px solid var(--tc);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: border-width 0.2s ease-in-out;
    background-color: transparent;
}

input[type="radio"]:hover {
    border-width: 7px;
}

input[type="radio"]:checked {
    border-width: 10px;
    box-shadow: 0px 0px 30px var(--bsc);
}

label {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
    font-size: 2em;
}

.ng-dirty {
    background-color: var(--bgc) !important;
}

button {
    font-family: inherit;
}

.subtitle {
    font-size: 2.6em;
    margin-top: -20px;
}

textarea {
    resize: none;
    font-family: inherit;
    font-size: 2em;
    outline: none;
    background-color: inherit;
    color: var(--tc);
    border: 4px solid var(--tc);
    border-radius: 10px;
    padding: 20px;
    transition: box-shadow 0.2s ease-in-out;
}

textarea:focus {
    outline: none;
    box-shadow: 0px 0px 30px var(--bsc);
}

.hidden-link:hover {
    text-decoration: underline !important;
    text-decoration-color: var(--tc);
    color: var(--tc) !important;
}

body.outlines .doc-table-wrapper {
    outline: 3px solid var(--olc);
}

.doc-table-wrapper {
    border-radius: 10px;
    width: 100%;
    overflow-x: auto;
    margin: 16px 0;
}

.doc-role-table {
    width: 100%;
    text-align: center;
    border: 2px solid transparent;
    border-radius: 10px;
}

.doc-role-table th,
.doc-role-table td {
    padding: 10px;
    border-radius: 10px;
}

.doc-role-table thead th {
    background-color: var(--bgcaa);
}

.doc-role-table tbody tr:nth-child(odd) td {
    background-color: var(--bgca);
}

.clickable:hover {
    cursor: pointer;
    text-decoration: underline;
}